<%- include("header") %>
<div class="container-fluid">
  <div class="container">
   <div class="intro-text">

    <h1 class="title"><span class="highlighted">The easiest way</span>
     to
    <span class="highlighted">manage</span>
    your personal finances
    </h1>
 
    <h2 class="subtitle">With our transaction accounts, you can withdraw money from ATMs, pay online, and flexibly control and manage your money and cards with our application.</h2>
   </div>
  </div>

 <img class="floating credit-card-image" 
 src="/images/creditcard.png"
 alt="credit card">

</div>

<%- include("footer") %>