<%- include("header") %>
<div class="container-fluid">
  <div class="container">
   <h1>hi</h1>
  </div>

 <img class="floating credit-card-image" 
 src="/images/creditcard.png"
 alt="credit card">

</div>

<%- include("footer") %>