<%- include("header") %>
<div class="container-fluid">

  <div class="container">

   <div class="intro-text">
    <h1 class="title"><span class="highlighted">The easiest way</span>
     to
    <span class="highlighted">manage</span>
    your personal finances
    </h1>
 
    <h2 class="subtitle">With our transaction accounts, you can withdraw money from ATMs, pay online, and flexibly control and manage your money and cards with our application.</h2>
    <button class="get-started btn btn-lg btn-primary">
     <h3 class="btn-text">Get started -></h3>
    </button>
    <button class="about-btn btn btn-lg btn-light">
     <h3 class="about-btn-text">About Monage</h3>
    </button>
    <div class="logos">
     <img class="visa-logo"src="/images/visa logo.png" alt="visa">
     <img class="paypal-logo"src="/images/paypal logo.png" alt="paypal">
     <img class="bitcoin-logo" src="/images/bitcoin.png" alt="bitcoin">
    </div>
   </div>

  </div>

 <img class="floating credit-card-image" 
 src="/images/creditcard.png"
 alt="credit card">

</div>

<%- include("footer") %>