.title-container-fluid {
 background-color: rgb(240, 248, 255);
 position:relative;
}

.title-container{
 position:relative;
 background: linear-gradient(rgb(240, 251, 255), #dae3f1);
 width:65%;
 margin:0;
}

.navigation {
 background-color:rgb(240, 251, 255);
 padding:50px 120px 0 120px;
}

.navbar {
 padding:0;
}

.nav-item {
 margin: 0 15px;
}

.nav-text {
 color: rgb(71, 71, 71);
}

.credit-card-image {
 position: absolute;
 width: 50em;
 right:222px;
 top:0px;
}

.intro-text {
 position:relative;
 width: 65%;
 padding:100px 0 100px 120px;
}

h1, h2, h3 {
 font-family: 'Work Sans', sans-serif;;
}

.btn-text {
 font-weight:700;
 font-size: 1.1em;
}

.about-btn-text {
 font-weight: 700;
 font-size: 1.1em;
 color: #575e77;
}

.title {
 font-weight:300;
 font-size:5em;
 padding-bottom:70px;
}

.subtitle {
 font-weight: 300;
 padding-bottom:40px;
}

.highlighted {
 font-weight:500;
}

.btn {
 border-radius: 0px;
 border: none;
 margin-right: 20px;
 width:10em;
}

.about-btn {
 border-radius: 0px;
 border: none;
 margin-right: 20px;
 width:10em;
 background-color: #d3d9ec;
}

.get-started {
 background-color: #b79367;
}

.logos {
 margin-top: 70px;
}

.visa-logo {
 height:35px;
}

.paypal-logo {
 height: 45px;
 margin: 0 40px 0 50px;
}

.bitcoin-logo {
 height: 45px;
}

.floating { 
 animation-name: floating;
 animation-duration: 3s;
 animation-iteration-count: infinite;
 animation-timing-function: ease-in-out;
 margin-left: 30px;
 margin-top: 5px;
}

@keyframes floating {
 0% { transform: translate(0,  0px); }
 50%  { transform: translate(0, 30px); }
 100%   { transform: translate(0, -0px); }   
}

